dialog.dialog-1#dialog-1 
    .dialog-wrapper 
        .dialog-close
            button.dialog-close-button
                img.dialog-close(src="icons/dialog-close.svg", alt="")
        .dialog-content
            img.dialog-icon(src="icons/dialog-icon.svg", alt="")
            p Благодарим за оставленный отзыв!  