dialog.dialog-5#dialog-5 
    .dialog-wrapper 
        .dialog-close
            button.dialog-close-button
                img.dialog-close(src="icons/dialog-close.svg", alt="")
        .dialog-content
            img.dialog-icon(src="icons/dialog-icon.svg", alt="")
            p Запрос отправлен. Мастер нашего сервисного центра перезвонит Вам в течение 10 минут