dialog.dialog-2#dialog-2 
    .dialog-wrapper 
        .dialog-top
            p.dialog-title Заказать звонок
            button.dialog-close-button 
                img.dialog-close-img(src="icons/dialog-close.svg", alt="")
        .dialog-content.dialog-content--form
            form.form#dialog2-form(action="https://echo.htmlacademy.ru/", method="dialog", novalidate)
                .form__name
                    label.form__label(for="user-name-dialog2") Ваше имя *
                    input.form__input#user-name-dialog2.input-name(type="text", name="user-name", placeholder="Имя")
                .form__phone
                    label.form__label(for="user-phone-dialog2") Ваш телефон *
                    input.form__input#user-phone-dialog2.input-phone(type="tel", name="user-phone", placeholder="+7 ( ___ ) ___-__-__")
                .form__checkbox 
                    label.form__label.checkbox-label.t-14(for="checkbox-dialog") 
                        | Даю согласие на обработку моих персональных данных и принимаю 
                        a(href="#")  политику конфиденциальности
                        input.checkbox-hidden#checkbox-dialog.input-js(type="checkbox", name="proccesing", required)
                        span(tabindex="0").checkbox
                button.form__button.button.button--primary(type="submit") Отправить