footer.footer
    .wrapper
        .footer__wrapper
            .footer__wrapper-col
                .footer__logo.footer__logo--desktop.logo
                    a.footer__logo-link(href="index.html") 
                        img.footer__logo-img.header__logo-img(src="images/logo.svg", alt="Логотип Geko Corp", loading="lazy")
                .footer__social.footer__social--mobile 
                    include _social-list.pug
                .footer__info.footer__info--desktop
                    p ИП Шумихин М.А. 
                        br
                        | ИНН/ОГРНИП: 
                        br
                        | 141800214410/320623400028827
                    p Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации.
            .footer__wrapper-col
                nav.footer__navigation 
                    ul.footer__navigation-main 
                        li 
                            a(href="index.html") Главная
                        li 
                            a(href="about.html") О компании
                        li 
                            a(href="price.html") прайс-лист
                        li 
                            a(href="fedback.html") ОТЗЫВЫ 
                        li 
                            a(href="blog.html") БЛОГ 
                        li 
                            a(href="contacts.html") КОНТАКТЫ
                    ul.footer__navigation-services 
                        li Услуги
                        li      
                            a(href="computers.html") Ремонт компьютеров
                        li      
                            a(href="notebooks.html") Ремонт ноутбуков
                        li      
                            a(href="monoblocks.html") Ремонт моноблоков
                        li      
                            a(href="apple.html") Ремонт техники APPLE
                        li      
                            a(href="upgrade.html") Сборка и апгрейд компьютеров
                        li      
                            a(href="systems.html") Установка ОС и программ
                        li      
                            a(href="viruses.html") Удаление вирусов
                        li      
                            a(href="internet.html") Настройка интернета
                        li      
                            a(href="corporate.html") Корпоративным клиентам

            .footer__wrapper-col
                .footer__contacts 
                    .footer__phones.header__phones
                        a(href="tel:+74951354547") +7 (495) 135-45-47
                            svg.arrow-phone
                                use(href="icons/sprite.svg#arrow-phone")
                        a(href="tel:+79653187014") +7 (965) 318-70-14
                            svg.arrow-phone
                                use(href="icons/sprite.svg#arrow-phone")
                    address.footer__address 
                        a(href="#")  г. Москва, ул. Люблинская 141, офис 319Б
                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M9.95 2C7.21562 2 5 4.25827 5 7.05553C5 11.8922 9.95 18.2 9.95 18.2C9.95 18.2 14.9 11.8912 14.9 7.05553C14.9 4.25929 12.6844 2 9.95 2ZM9.95 9.85279C9.24108 9.85279 8.56119 9.5646 8.0599 9.0516C7.55862 8.5386 7.277 7.84282 7.277 7.11733C7.277 6.39185 7.55862 5.69607 8.0599 5.18307C8.56119 4.67008 9.24108 4.38188 9.95 4.38188C10.6589 4.38188 11.3388 4.67008 11.8401 5.18307C12.3414 5.69607 12.623 6.39185 12.623 7.11733C12.623 7.84282 12.3414 8.5386 11.8401 9.0516C11.3388 9.5646 10.6589 9.85279 9.95 9.85279Z" fill="#E7742E")
                    .footer__mail
                        a(href="mailto:info@remont-geko.ru") info@remont-geko.ru
                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M15.5 4H3.5C2.67275 4 2 4.67275 2 5.5V14.5C2 15.3272 2.67275 16 3.5 16H15.5C16.3273 16 17 15.3272 17 14.5V5.5C17 4.67275 16.3273 4 15.5 4ZM15.5 5.5V5.88325L9.5 10.5505L3.5 5.884V5.5H15.5ZM3.5 14.5V7.783L9.0395 12.0917C9.17083 12.1949 9.333 12.251 9.5 12.251C9.667 12.251 9.82917 12.1949 9.9605 12.0917L15.5 7.783L15.5015 14.5H3.5Z" fill="#E7742E")
                    .footer__schedule
                        p 10:00 - 20:00 (без выходных)
                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M10.25 8.75H13.25C13.4489 8.75 13.6397 8.82902 13.7803 8.96967C13.921 9.11032 14 9.30109 14 9.5C14 9.69891 13.921 9.88968 13.7803 10.0303C13.6397 10.171 13.4489 10.25 13.25 10.25H9.5C9.30109 10.25 9.11032 10.171 8.96967 10.0303C8.82902 9.88968 8.75 9.69891 8.75 9.5V5C8.75 4.80109 8.82902 4.61032 8.96967 4.46967C9.11032 4.32902 9.30109 4.25 9.5 4.25C9.69891 4.25 9.88968 4.32902 10.0303 4.46967C10.171 4.61032 10.25 4.80109 10.25 5V8.75ZM9.5 17C5.35775 17 2 13.6423 2 9.5C2 5.35775 5.35775 2 9.5 2C13.6423 2 17 5.35775 17 9.5C17 13.6423 13.6423 17 9.5 17ZM9.5 15.5C11.0913 15.5 12.6174 14.8679 13.7426 13.7426C14.8679 12.6174 15.5 11.0913 15.5 9.5C15.5 7.9087 14.8679 6.38258 13.7426 5.25736C12.6174 4.13214 11.0913 3.5 9.5 3.5C7.9087 3.5 6.38258 4.13214 5.25736 5.25736C4.13214 6.38258 3.5 7.9087 3.5 9.5C3.5 11.0913 4.13214 12.6174 5.25736 13.7426C6.38258 14.8679 7.9087 15.5 9.5 15.5Z" fill="#E7742E")
                
                .footer__social.footer__social--desktop 
                    include _social-list.pug

            .footer__wrapper-col.footer__wrapper-col--mobile
                .footer__info.footer__info--mobile
                    p ИП Шумихин М.А. 
                        br
                        | ИНН/ОГРНИП: 
                        br
                        | 141800214410/320623400028827
                    p Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации.

        .footer__underline 
            p.footer__copyright 
                span 2021 
                | remont-geko.ru
                svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M11 4C14.864 4 18 7.136 18 11C18 14.864 14.864 18 11 18C7.136 18 4 14.864 4 11C4 7.136 7.136 4 11 4ZM11 5.4C7.906 5.4 5.4 7.906 5.4 11C5.4 14.094 7.906 16.6 11 16.6C14.094 16.6 16.6 14.094 16.6 11C16.6 7.906 14.094 5.4 11 5.4ZM11 7.5C12.274 7.5 13.3891 8.1811 14.0016 9.1996L12.8018 9.9199C12.613 9.60507 12.3449 9.34524 12.0244 9.16631C11.7038 8.98739 11.342 8.89562 10.9749 8.90016C10.6078 8.9047 10.2483 9.00539 9.93229 9.19219C9.61626 9.379 9.35472 9.64538 9.17375 9.96479C8.99278 10.2842 8.8987 10.6455 8.9009 11.0126C8.90309 11.3797 9.00149 11.7398 9.18626 12.057C9.37104 12.3742 9.63575 12.6374 9.95399 12.8205C10.2722 13.0035 10.6329 13.0998 11 13.1C11.3627 13.1002 11.7193 13.0065 12.0349 12.8278C12.3506 12.6492 12.6146 12.3918 12.8011 12.0808L14.0016 12.8004C13.6082 13.4574 13.0102 13.9673 12.2991 14.2517C11.5881 14.5362 10.8035 14.5796 10.0654 14.3752C9.32741 14.1708 8.6768 13.73 8.2134 13.1203C7.74999 12.5107 7.49938 11.7658 7.5 11C7.5 9.068 9.068 7.5 11 7.5Z" fill="#E7742E")
            .footer__underline-links 
                a(href="#") Карта сайта
                a(href="#") Политика конфиденциальности
