.header__content
    h1.header__title ОПЕРАТИВНАЯ КОМПЬЮТЕРНАЯ ПОМОЩЬ
    p.header__subtitle.t-24 Ремонт любой сложности ПК, ноутбуков и техники Apple для дома и офиса
    p.header__subtitle.header__subtitle--secondary.t-24 Срочный выезд мастер
    a.header__button.button.button--primary(href="#submit-form") вызвать мастера