nav.mobile-navigation#mobile-navigation
    ul.mobile-navigation__list 
        li.mobile-navigation__item 
            a.mobile-navigation__link(href="index.html") главная
        li.mobile-navigation__item 
            a.mobile-navigation__link(href="about.html") о компании
        li.mobile-navigation__item 
            button.mobile-navigation__link.mobile-navigation__button#mobile-sublist-button(type="button") услуги
                svg(width="16" height="23" viewBox="0 0 16 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M13.5481 15.6009L7.99254 10.2975L2.43701 15.6009C2.30445 15.7274 2.14708 15.8278 1.97388 15.8963C1.80068 15.9647 1.61504 16 1.42757 16C1.2401 16 1.05446 15.9647 0.881261 15.8963C0.70806 15.8278 0.550688 15.7274 0.418126 15.6009C0.285563 15.4743 0.180408 15.3241 0.108666 15.1587C0.0369244 14.9934 0 14.8162 0 14.6372C0 14.4583 0.0369244 14.281 0.108666 14.1157C0.180408 13.9504 0.285563 13.8001 0.418126 13.6736L6.99025 7.39973C7.12272 7.27302 7.28006 7.17249 7.45327 7.1039C7.62649 7.03531 7.81217 7 7.9997 7C8.18722 7 8.37291 7.03531 8.54612 7.1039C8.71933 7.17249 8.87668 7.27302 9.00914 7.39973L15.5813 13.6736C15.714 13.8 15.8193 13.9502 15.8912 14.1156C15.963 14.2809 16 14.4582 16 14.6372C16 14.8162 15.963 14.9935 15.8912 15.1588C15.8193 15.3242 15.714 15.4744 15.5813 15.6009C15.0229 16.1203 14.1065 16.1339 13.5481 15.6009Z" fill="#E7742E")
            ul.mobile-navigation__sublist#mobile-sublist
                li 
                    a(href="computers.html") Ремонт компьютеров
                li 
                    a(href="notebooks.html") Ремонт ноутбуков
                li 
                    a(href="monoblocks.html") Ремонт моноблоков
                li 
                    a(href="apple.html") Ремонт техники Apple
                li 
                    a(href="upgrade.html") Сборка и апгрейд компьютеров
                li 
                    a(href="systems.html") Установка ОС и программ
                li 
                    a(href="viruses.html") Удаление вирусов
                li 
                    a(href="internet.html") Настройка интернета
                li 
                    a(href="corporate.html") Корпоративным клиентам
        li.mobile-navigation__item 
            a.mobile-navigation__link(href="price.html") прайс-лист
        li.mobile-navigation__item 
            a.mobile-navigation__link(href="fedback.html") отзывы
        li.mobile-navigation__item 
            a.mobile-navigation__link(href="blog.html") блог