section.repair
    h2.visually-hidden Навигация
    .wrapper 
        nav.repair-navigation 
            ul.repair-navigation__list 
                li 
                    a(href="computers.html") компьютеры
                li 
                    a(href="notebooks.html") ноутбуки
                li 
                    a(href="monoblocks.html") моноблоки
                li 
                    a(href="apple.html") apple
                li 
                    a(href="upgrade.html") апгрейд
                li 
                    a(href="systems.html") ос и по
                li 
                    a(href="viruses.html") вирусы
                li 
                    a(href="internet.html") интернет
                li 
                    a(href="corporate.html") корпоративным клиентам