include ../_includes.pug
doctype html
html(lang="ru")
    +head("Geko Corp контакты", "Ремонт и обслуживание цифровой техники, выезд мастера на дом")
    body
        +header("header header--no-bg")
        main
            +page-title("Контакты", "contacts__title")


            section.contacts-content
                .wrapper
                    h2.visually-hidden Как нас найти
                    .contacts-content__map 
                        iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A2d9f0c3fbe6d04237c1f3a1a0b8c93a35923c0cf0095090e362c997189677823&amp;source=constructor")
                    .contacts-content__wrapper
                        ul.contacts-content__list 
                            li  
                                address.contacts-content__address 
                                    a(href="#")  г. Москва, ул. Люблинская 141, офис 319Б
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M9.95 2C7.21562 2 5 4.25827 5 7.05553C5 11.8922 9.95 18.2 9.95 18.2C9.95 18.2 14.9 11.8912 14.9 7.05553C14.9 4.25929 12.6844 2 9.95 2ZM9.95 9.85279C9.24108 9.85279 8.56119 9.5646 8.0599 9.0516C7.55862 8.5386 7.277 7.84282 7.277 7.11733C7.277 6.39185 7.55862 5.69607 8.0599 5.18307C8.56119 4.67008 9.24108 4.38188 9.95 4.38188C10.6589 4.38188 11.3388 4.67008 11.8401 5.18307C12.3414 5.69607 12.623 6.39185 12.623 7.11733C12.623 7.84282 12.3414 8.5386 11.8401 9.0516C11.3388 9.5646 10.6589 9.85279 9.95 9.85279Z" fill="#E7742E")
                            li
                                p 10:00 - 20:00 (без выходных)
                                    svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M10.25 8.75H13.25C13.4489 8.75 13.6397 8.82902 13.7803 8.96967C13.921 9.11032 14 9.30109 14 9.5C14 9.69891 13.921 9.88968 13.7803 10.0303C13.6397 10.171 13.4489 10.25 13.25 10.25H9.5C9.30109 10.25 9.11032 10.171 8.96967 10.0303C8.82902 9.88968 8.75 9.69891 8.75 9.5V5C8.75 4.80109 8.82902 4.61032 8.96967 4.46967C9.11032 4.32902 9.30109 4.25 9.5 4.25C9.69891 4.25 9.88968 4.32902 10.0303 4.46967C10.171 4.61032 10.25 4.80109 10.25 5V8.75ZM9.5 17C5.35775 17 2 13.6423 2 9.5C2 5.35775 5.35775 2 9.5 2C13.6423 2 17 5.35775 17 9.5C17 13.6423 13.6423 17 9.5 17ZM9.5 15.5C11.0913 15.5 12.6174 14.8679 13.7426 13.7426C14.8679 12.6174 15.5 11.0913 15.5 9.5C15.5 7.9087 14.8679 6.38258 13.7426 5.25736C12.6174 4.13214 11.0913 3.5 9.5 3.5C7.9087 3.5 6.38258 4.13214 5.25736 5.25736C4.13214 6.38258 3.5 7.9087 3.5 9.5C3.5 11.0913 4.13214 12.6174 5.25736 13.7426C6.38258 14.8679 7.9087 15.5 9.5 15.5Z" fill="#E7742E")
                            li
                                a(href="tel:+74951354547") +7 (495) 135-45-47
                                    svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M21 3.00006C21.7956 3.00006 22.5587 3.30823 23.1213 3.85677C23.6839 4.40532 24 5.1493 24 5.92506V26.0751C24 26.8508 23.6839 27.5948 23.1213 28.1433C22.5587 28.6919 21.7956 29.0001 21 29.0001H11C10.2044 29.0001 9.44129 28.6919 8.87868 28.1433C8.31607 27.5948 8 26.8508 8 26.0751V5.92506C8 5.1493 8.31607 4.40532 8.87868 3.85677C9.44129 3.30823 10.2044 3.00006 11 3.00006H21ZM21 4.95006H11C10.7348 4.95006 10.4804 5.05278 10.2929 5.23563C10.1054 5.41848 10 5.66647 10 5.92506V26.0751C10 26.6133 10.448 27.0501 11 27.0501H21C21.2652 27.0501 21.5196 26.9473 21.7071 26.7645C21.8946 26.5816 22 26.3336 22 26.0751V5.92506C22 5.66647 21.8946 5.41848 21.7071 5.23563C21.5196 5.05278 21.2652 4.95006 21 4.95006ZM17.6653 23.1501C17.9305 23.1497 18.185 23.2521 18.3728 23.4347C18.5606 23.6173 18.6663 23.8652 18.6667 24.1238C18.667 24.3823 18.562 24.6305 18.3747 24.8136C18.1874 24.9967 17.9332 25.0997 17.668 25.1001L14.3347 25.1053C14.0695 25.1056 13.815 25.0032 13.6272 24.8206C13.4394 24.638 13.3337 24.3901 13.3333 24.1316C13.333 23.873 13.438 23.6248 13.6253 23.4417C13.8126 23.2587 14.0668 23.1556 14.332 23.1553L17.6653 23.1501Z" fill="#E7742E")
                            li
                                a(href="tel:+79653187014") +7 (965) 318-70-14
                                    svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M21 3.00006C21.7956 3.00006 22.5587 3.30823 23.1213 3.85677C23.6839 4.40532 24 5.1493 24 5.92506V26.0751C24 26.8508 23.6839 27.5948 23.1213 28.1433C22.5587 28.6919 21.7956 29.0001 21 29.0001H11C10.2044 29.0001 9.44129 28.6919 8.87868 28.1433C8.31607 27.5948 8 26.8508 8 26.0751V5.92506C8 5.1493 8.31607 4.40532 8.87868 3.85677C9.44129 3.30823 10.2044 3.00006 11 3.00006H21ZM21 4.95006H11C10.7348 4.95006 10.4804 5.05278 10.2929 5.23563C10.1054 5.41848 10 5.66647 10 5.92506V26.0751C10 26.6133 10.448 27.0501 11 27.0501H21C21.2652 27.0501 21.5196 26.9473 21.7071 26.7645C21.8946 26.5816 22 26.3336 22 26.0751V5.92506C22 5.66647 21.8946 5.41848 21.7071 5.23563C21.5196 5.05278 21.2652 4.95006 21 4.95006ZM17.6653 23.1501C17.9305 23.1497 18.185 23.2521 18.3728 23.4347C18.5606 23.6173 18.6663 23.8652 18.6667 24.1238C18.667 24.3823 18.562 24.6305 18.3747 24.8136C18.1874 24.9967 17.9332 25.0997 17.668 25.1001L14.3347 25.1053C14.0695 25.1056 13.815 25.0032 13.6272 24.8206C13.4394 24.638 13.3337 24.3901 13.3333 24.1316C13.333 23.873 13.438 23.6248 13.6253 23.4417C13.8126 23.2587 14.0668 23.1556 14.332 23.1553L17.6653 23.1501Z" fill="#E7742E")
                            li
                                a(href="mailto:info@remont-geko.ru") info@remont-geko.ru
                                    svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M15.5 4H3.5C2.67275 4 2 4.67275 2 5.5V14.5C2 15.3272 2.67275 16 3.5 16H15.5C16.3273 16 17 15.3272 17 14.5V5.5C17 4.67275 16.3273 4 15.5 4ZM15.5 5.5V5.88325L9.5 10.5505L3.5 5.884V5.5H15.5ZM3.5 14.5V7.783L9.0395 12.0917C9.17083 12.1949 9.333 12.251 9.5 12.251C9.667 12.251 9.82917 12.1949 9.9605 12.0917L15.5 7.783L15.5015 14.5H3.5Z" fill="#E7742E")

                        .contacts-content__form-wrapper
                            p Если у вас возникли проблемы с компьютерной техникой или вы заметили странности в ее работе,  пожалуйста, свяжитесь с нами, используя форму обратной связи ниже. Также вы можете позвонить нам по указанным номерам телефона или написать на электронную почту. Мы гарантируем быстрое и качественное решение проблем с вашей техникой.
                            h3.t-29 Напишите нам
                            form.form#contact-form(action="https://echo.htmlacademy.ru/", method="post", novalidate)
                                .form__name
                                    label.form__label(for="user-name") Ваше имя *
                                    input.form__input#user-name.input-name(type="text", name="user-name", placeholder="Имя", data-required="true", data-min-length="2", data-max-length="20", data-name="true")
                                .form__email
                                    label.form__label(for="user-email") Ваш email
                                    input.form__input#user-email(type="email", name="user-email", placeholder="E-mail")
                                .form__message
                                    label.form__label(for="user-message") Сообщение
                                    textarea.form__input#user-message(name="user-message", placeholder="Текст сообщения")
                                .form__checkbox 
                                    label.form__label.checkbox-label.t-14(for="checkbox") 
                                        | Даю согласие на обработку моих персональных данных и принимаю 
                                        a(href="#")  политику конфиденциальности
                                        input.checkbox-hidden#checkbox.input-js(type="checkbox", name="proccesing", required)
                                        span(tabindex="0").checkbox
                                button.form__button.button.button--primary(type="submit") Отправить

            

        include ../blocks/_footer.pug


        include ../blocks/_btn-fixed.pug
        include ../blocks/_dialog-2.pug
        include ../blocks/_dialog-5.pug
        include ../blocks/_dialog-6.pug