include ../_includes.pug
doctype html
html(lang="ru")
    +head("Geko Corp удаление вирусов", "Ремонт и обслуживание цифровой техники, выезд мастера на дом")
    body
        +header("header header--no-bg")
        main 
            include ../blocks/_repair-navigation.pug

            +repair-preview("viruses-preview", "icons/repair/viruses.svg", "viruses icon", "Удаление вирусов")


            section.systems-hero.repair-hero
                h2.visually-hidden Вирусы - превью
                .wrapper 
                    .repair-hero__top
                        p Если Ваш компьютер заражен вирусом, ни в коем случае не пытайтесь справиться с проблемой самостоятельно, не рискуйте потерять данные или полностью вывести компьютер из строя. Удаление вирусов и вредоносных программ без последствий – сложная работа, выполнить которую может только компетентный специалист по компьютерной безопасности.
                    .repair-hero__middle
                        .repair-hero__desc
                            .repair-hero__wrapper
                                p.repair-hero__subtitle.t-29 Частые признаки заражения компьютера вредоносным по:
                                ul.repair-hero__list 
                                    li Операционная система Windows сильно тормозить, постоянно зависает
                                    li На экран постоянно выводятся различные ошибки и посторонние рекламные сообщения
                                    li Программы некорректно выполняют привычные действия
                                    li Компьютер вдруг стал работать намного медленнее, чем после его приобретения
                                    li На экране появилось сообщение о блокировке Windows с просьбой отправить платное смс
                                    li Файлы и папки сменили название на абракадабру из чисел, букв и символов
                        img.copmuters-hero__img(src="images/repair-hero-7.jpg", alt="")
                    .repair-hero__bottom 
                        p Разумеется, это далеко не все признаки компьютерного заражения. По последним данным в мире существует более 45 миллионов различных вирусных угроз, и, к сожалению, ни одна антивирусная программа не способна на 100% справиться с обнаружением всех вирусных файлов и скриптов. Специалисты сервисного центра Geko Corp профессионально осуществят лечение и удаление вирусов: руткитов (rootkit), сетевых червей (net-worms), троянов (trojan), бэкдоров (backdoor), полиморфных вирусов (polymorf), нежелательных (adware) и прочих вредоносных программ. Установим и настроим брандмауэр, антивирусное программное обеспечение, обновим антивирусные базы, установим критические обновления операционной системы, разграничим права доступа, обучим основам безопасной работы на компьютере и в сети Интернет. Профессионально осуществим сетевую и антивирусную защиту компьютеров на базе программного обеспечения ведущих антивирусных лабораторий: Kaspersky, Dr. Web, Norton, Eset.
                        p Удаление вирусов с компьютера или ноутбука пользователя, является самой распространенной услугой компьютерной помощи, которую наш сервис оказывает не только при выезде к клиенту, но и удаленно в рамках абонентского обслуживания или разового обращения.


            +repair-form("Компьютерный сервис Geko Corp предоставляет услуги по антивирусной компьютерной помощи в Москве и МО", "Оформите заявку на нашем сайте или свяжитесь со специалистом центра по телефону, опишете проблему. Уточните, какая форма сотрудничества для вас удобнее – очная или дистанционная.", "Наш специалист прибудет по указанному адресу в оговоренное время или подключится к вашему компьютеру дистанционно.", "Мастер бесплатно проведет диагностику вашего компьютера, предложит перечень необходимых работ и согласует с вами стоимость услуг.", "Мастер проведет работы по удалению вредоносного ПО и восстановлению вашего компьютера. По окончании работ подписывается договор и акт выполненных работ с предоставлением гарантии на выполненные работы сроком на 1 год.", "form--repair", "repair-form")


            section.repair-price(aria-labelledby="viruses-price-title") 
                .wrapper
                    .section-wrapper
                        h2.repair-price__title.section-title#viruses-price-title стоимость работ
                        p.repair-price__subtitle Наши цены на услуги по антивирусной компьютерной помощи окончательны, то есть не включают скрытых надбавок, которые в дальнейшем могут привести к значительному увеличению стоимости услуг специалиста. Окончательная смета работ составляется из нижеуказанных цен.
                        .acordion.acordion-repair
                            .acordion-item
                                button.acordion-button(type="button") Антивирусная помощь
                                    img(src="icons/close-arrow-dropdown.svg", alt="close arrow icon", loading="lazy")
                                .acordion-wrapper
                                    ul.acordion-list 
                                        li.acordion-list__item
                                            span Поиск и удаление вируса
                                            span ? руб.
                                        li.acordion-list__item
                                            span Удаление вируса порно-баннера
                                            span ? руб.
                                        li.acordion-list__item
                                            span Проверка и очистка компьютера от программ-шпионов
                                            span ? руб.
                                        li.acordion-list__item
                                            span Удаление вируса типа “червь” на внешних носителях и HDD
                                            span ? руб.
                                        li.acordion-list__item
                                            span Антивирусная профилактика
                                            span ? руб.
                                        li.acordion-list__item
                                            span Блокировка интернет-рекламы
                                            span ? руб.
                                        li.acordion-list__item
                                            span Установка антивируса
                                            span ? руб.
                                        li.acordion-list__item
                                            span Установка других средств защиты
                                            span ? руб.
                                    

                        +price-button("button-wrapper--repair")

        include ../blocks/_footer.pug


        include ../blocks/_btn-fixed.pug
        include ../blocks/_dialog-2.pug
        include ../blocks/_dialog-5.pug
        include ../blocks/_dialog-6.pug