mixin consultation-button(about)
    .button-wrapper(class= about)
        button.button.button--primary.consultation-button.btn-modal(type="button") получить консультацию
            svg(width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8847 2.37678C13.1308 2.13553 13.4646 2 13.8127 2C14.1607 2 14.4945 2.13553 14.7406 2.37678L22.6157 10.098C22.8618 10.3393 23 10.6665 23 11.0078C23 11.349 22.8618 11.6763 22.6157 11.9176L14.7406 19.6388C14.4931 19.8732 14.1615 20.0029 13.8174 20C13.4732 19.997 13.144 19.8617 12.9007 19.6231C12.6573 19.3845 12.5193 19.0617 12.5163 18.7243C12.5133 18.3869 12.6456 18.0618 12.8847 17.8191L18.5193 12.2946H3.31252C2.96442 12.2946 2.63057 12.1591 2.38443 11.9177C2.13828 11.6764 2 11.3491 2 11.0078C2 10.6665 2.13828 10.3392 2.38443 10.0978C2.63057 9.85649 2.96442 9.7209 3.31252 9.7209H18.5193L12.8847 4.1964C12.6386 3.95508 12.5004 3.62782 12.5004 3.28659C12.5004 2.94536 12.6386 2.6181 12.8847 2.37678Z" fill="#0B1427")
