mixin head(title, content)
    head
        meta(content='IE=edge' http-equiv='X-UA-Compatible')
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1')
        meta(name="description" content= content)
        meta(name="apple-mobile-web-app-title" content="Geko")
        link(rel="manifest" href="./favicons/site.webmanifest")
        link(rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/svg+xml" href="favicons/favicon.svg")
        link(rel="shortcut icon" href="favicons/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="192x192" href="favicons/web-app-manifest-192x192.png")
        link(rel="icon" type="image/png" sizes="512x512" href="favicons/web-app-manifest-512x512.png")
        link(rel="stylesheet", href="css/swiper-bundle.min.css")
        link(rel="stylesheet", href="css/main.min.css")
        script(src='js/swiper-bundle.min.js', defer)
        script(src='js/inputmask.min.js', defer)
        script(src='js/just-validate.production.min.js', defer)
        script(src='js/main.min.js' defer)
        title= title