mixin team(sectionClassName, className)
    section.team(aria-labelledby="team-title", class= sectionClassName) 
        .wrapper 
            .section-wrapper
                h2.team__title.section-title#team-title наша команда
                p.team__info(class= className) В команде мастеров компьютерного сервиса Geko объединились профессионалы, которые хорошо знают и любят свое дело. Огромный опыт, современная техническая база и коллективный потенциал позволяют нам оперативно и качественно решать любые проблемы, возникшие с вашей компьютерной техникой.  
                .slider-wrapper
                    .swiper.swiper-2
                        .swiper-wrapper
                            .swiper-slide
                                .team__card 
                                    .team__img 
                                        img(src="images/team-img.webp", alt="Наша команда", loading="lazy")
                                    p.team__name.t-24 Сергей 
                                        br 
                                        | Александров
                                    p.team__desc Опыт работы – 10 лет
                            .swiper-slide
                                .team__card 
                                    .team__img 
                                        img(src="images/team-img.webp", alt="Наша команда", loading="lazy")
                                    p.team__name.t-24 Сергей 
                                        br 
                                        | Александров
                                    p.team__desc Опыт работы – 10 лет
                            .swiper-slide 
                                .team__card 
                                    .team__img 
                                        img(src="images/team-img.webp", alt="Наша команда", loading="lazy")
                                    p.team__name.t-24 Сергей 
                                        br 
                                        | Александров
                                    p.team__desc Опыт работы – 10 лет
                            .swiper-slide 
                                .team__card 
                                    .team__img 
                                        img(src="images/team-img.webp", alt="Наша команда", loading="lazy")
                                    p.team__name.t-24 Сергей 
                                        br 
                                        | Александров
                                    p.team__desc Опыт работы – 10 лет
                            .swiper-slide
                                .team__card 
                                    .team__img 
                                        img(src="images/team-img.webp", alt="Наша команда", loading="lazy")
                                    p.team__name.t-24 Сергей 
                                        br 
                                        | Александров
                                    p.team__desc Опыт работы – 10 лет
                    .swiper-pagination.swiper-pagination-2 