include mixins/_head.pug
include mixins/_header.pug
include mixins/_attention.pug
include mixins/_team.pug
include mixins/_consultation-button.pug
include mixins/_page-title.pug
include mixins/_repair-preview.pug 
include mixins/_repair-form.pug
include mixins/_price-button.pug